
    .header-text {
        display:block;
        font-size: 300px;
        letter-spacing: 20px;
        font-family:Plexifont;

    }
    .category {
        display:inline-block;
    }
    #categories {
        font-size:60px;
    }
    #navbar {
        font-size: 14px;
    }
    #grid {
        left:60%;
        top:10%;
    }
    .skills {
        width:95%;
        padding-top:100px;
        position:relative;
        left:70px;


    }
    #me-pic {
        position:relative;
        top:-100px;
    }

    .likes-text {
        display:inline-block;
        background-color:#fefefe;
        padding: 100px 10px;
        opacity:.9;
        text-align: right;
        letter-spacing: 3px;
        z-index: 3;
        position:relative;
        top:-280px;
        font-size: 12px;
        width:220px;


    }
    #likes {
        margin-right:-60px;
    }
    #dislikes {
        margin-left:-60px;
        text-align: left;
    }
    #night-button {
        position:absolute;
        left:100px;
    }


    #education {
        font-size:10px;
        left:150px;
        top:-10px;
    }
    #designer, #artist, #internet {
        font-size:22px;
    }

    #designer {
        top:-20px;
    }
    #choreo { 
        top:-30px;
    }

    #internet {
        left:40px;
        top:-10px;
    }
    #frenchfry {
        top:20px;
    }



