@media only screen and (max-device-width: 649px)  {

    body{
        overflow-x:hidden !important;
        width:100% !important;
    }
    .header {
        background: url(../img/mobile-bg.jpg) auto 100% no-repeat scroll;
    }

    .text-vertical-center img {
        position:relative;
        top:-50px;
        width:75%;
    }
    #scroll-down {
        position:relative;
        top:190px;
    }
    #scroll-down img {
        width:100px;
    }

    .header-text {
        display:block;
        font-size: 100px;
        letter-spacing: 10px;
        font-family:Plexifont;

    }
    #about {
        background: #fff; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#a5a5a5, #fff); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#a5a5a5, #fff); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#a5a5a5,#fff); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#a5a5a5, #fff); /* Standard syntax */
        color:black;
        padding-bottom:500px;
    }


    #about-header-section {
        position:relative;
        left:0px;

    }

    #about-text-section {
        margin:50px 10px;
        text-align: left;
        line-height: 95%;
        letter-spacing: 0px;
        font-size:36px;
    }

    #categories {
        display:none !important;
    }

    #navbar {
        display: none !important;
    }

    #grid {
        top:10%;
        opacity:.7;
    }    

    #square-glyphicon {
        position:relative;
        font-size:20px;
        color:#444444;
        top:-2px;
    }
    
    /*
    .button {
        margin:10px 25px;
    }
    #night-button {
        position:absolute;
        left:10px;
    }
    */



    .skills {
        margin:50px 0;
    }
    .skillbar-title {
        text-align: left;
    }
    .skillbar-title span {
        background:rgba(0, 0, 0, 0);

    }

    #me-pic{
        margin:50px 0;
        width:92%;
    }

    .likes-text {
        padding:30px 10px;
        margin:10px auto;
    }

    #likes  {
        position:relative;
        left:30px;
    }

    #dislikes {
        position:relative;
        left:-30px;
        text-align: left;

    }

    #education {
        font-size:11px;
        margin:30px;
    }
    #programmer {
        left:-35px;
        top:5px;
    }
    #designer, #artist, #internet {
        font-size:22px;
    }
    #designer {
        left:25px;
    }
    #artist {
        left:-25px;
        top:5px;
    }
    #choreo {
        left:40px;
    }
    #frenchfry {
        top:-10px;
        left:-20px;
    }
    #internet {
        top:20px;
        left:10px;
        font-size:18px;
    }
    #education {
        left:-10px;
    }
    .skills {
        width:90%;
        display:inline-block;

    }

    #filter-main {
        display:none;
    }
    #work-container {
        display:none;
    }

    .contact {
        position:relative;
        margin:200px auto;
        width:80%;
        padding:20px 0;

    }
    #work-section { 
        color:black;
        background: #fff; /* For browsers that do not support gradients */
    }
    #work-header {
        font-size:90px;
    }
    #mobile-alert img {
        width:90%;
    }
    #mobile-alert p {
        font-size: 32px;
        line-height: 30px;
        margin:0 20px;
        text-align: center;
    }
    .text-muted {
        font-size:12px;
    }

}
