@media only screen and (max-device-width: 649px)  {
    video {
        width:90%;
    }
    body{
        overflow-x:hidden !important;
        width:100% !important;
    }
    /*
    .header {
        background: url(../img/mobile-bg.jpg) auto 100% no-repeat scroll;
    }
*/

    .header {
        background: -webkit-linear-gradient(white,#ccc); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(white,#ccc); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(white,#ccc); /* For Firefox 3.6 to 15 */
        background: linear-gradient(white,#ccc); /* Standard syntax */
        
    }
    .text-vertical-center img {
        position:relative;
        top:-50px;
        width:75%;
    }
    #scroll-down {
        position:relative;
        top:190px;
        z-index:10;
    }
    #scroll-down img {
        width:100px;
    }

    .header-text {
        display:block;
        font-size: 100px;
        letter-spacing: 10px;
        font-family:Plexifont;

    }
    #about {
        background: #fff; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#888, #fff); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#888, #fff); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#888,#fff); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#888, #fff); /* Standard syntax */
        color:black;
        padding-bottom:500px;
    }


    #about-header-section {
        position:relative;
        left:0px;

    }

    #about-text-section {
        margin:50px 10px;
        text-align: left;
        line-height: 95%;
        letter-spacing: 0px;
        font-size:36px;
    }

    #categories {
        display:none !important;
    }

    #navbar {
        display: none !important;
    }

    #grid {
        top:10%;
        opacity:.7;
    }    

    #square-glyphicon {
        position:relative;
        font-size:20px;
        color:#444444;
        top:-2px;
    }
    
    /*
    .button {
        margin:10px 25px;
    }
    #night-button {
        position:absolute;
        left:10px;
    }
    */



    .skills {
        margin:50px 0;
    }
    .skillbar-title {
        text-align: left;
        opacity: .8;
        
    }
    .skillbar-title span {
        background:rgba(0, 0, 0, 0);
        font-weight:400;
        opacity:1;

    }

    #me-pic{
        margin:50px 0;
        width:92%;
    }

    .likes-text {
        padding:30px 10px;
        margin:10px auto;
    }

    #likes  {
        position:relative;
        left:30px;
    }

    #dislikes {
        position:relative;
        left:-30px;
        text-align: left;

    }

    #education {
        font-size:11px;
        margin:30px;
    }
    #programmer {
        left:-35px;
        top:5px;
    }
    #designer, #artist, #internet {
        font-size:22px;
    }
    #designer {
        left:25px;
    }
    #artist {
        left:-25px;
        top:5px;
    }
    #choreo {
        left:40px;
    }
    #frenchfry {
        top:-10px;
        left:-20px;
    }
    #internet {
        top:20px;
        left:10px;
        font-size:18px;
    }
    #education {
        left:-10px;
    }
    .skills {
        width:90%;
        display:inline-block;

    }


    #mobile-alert {display:none;}

    .contact {
        position:relative;
        margin:200px auto;
        width:80%;
        padding:20px 0;

    }


    /* filters */    


    #filter-main {
        margin:50px 0;
    }

    .filter {
        position:relative;
        color: black;
        display:inline;
        margin: 20px;
        letter-spacing: 5px;
        font-size: 32px;
    }

    .filter:hover {
        color:#ebbcbc !important;
        text-decoration:none;
        z-index: 4;
        
        
    }
    #work-section { 
        color:black;
        background: #fff; /* For browsers that do not support gradients */
    }
    #work-header {
        font-size:90px;
    }
    #work-container {
        width:100%;
        margin:auto;
    }

    .work-obj img {
        opacity:.9;
        padding:3px 0;
        width:130px;
        height:auto;
    }
    #mobile-alert img {
        width:90%;
    }
    #mobile-alert p {
        font-size: 32px;
        line-height: 30px;
        margin:0 20px;
        text-align: center;
    }
    .text-muted {
        font-size:12px;
    }

    .caption {display:none !important;}

    .work-thumb {
        padding:0;
    }
    .work-thumb img{
        height:40px;
        margin:2px 0;

    }
    .work-dialog {
        margin-bottom:50px;
        font-size:72px;
    }

    .work-dialog h1 {
        font-size:32px;
        font-weight:200;
    }

    #work-closeup {

    }
    #work-closeup img {
        max-width:300px;
        max-height:400px;

    }

    #work-info {
        position:relative;
        margin:10px;
        padding:10px;
        text-align:center;
    }
    #work-info .title {
        font-size:32px;
        letter-spacing: 5px;

    }
    #work-info .date {
        position:relative;
        font-size:8px;
        text-transform:uppercase;
    }



    .description {
        font-size: 14px;
        position:relative;
        top:20px;
        text-align: left;
        letter-spacing: 1.5px;
    }

    .description .date {
        font-size:10px;
        text-transform: uppercase;
    }

    .description-title {
        line-height: 30px;
        position:relative;
        font-size:32px;
        letter-spacing:5px;"

    }

    .long-button {
        text-transform: uppercase;
        width:250px;
        height:auto;
    }



    #rez-caption {
        text-align:left;
    }

    #rez-caption .date {
        font-size:10px;
        text-transform: uppercase;
    }



    .carousel-control .glyphicon {
        font-size:20px;
    }



}
