/* FONTS */

@font-face {
    font-family: Plexifont;
    src: url(../fonts/plexifont.ttf);
}

/* GLOBAL */

body {
	font-family: Helvetica;
	font-weight: 200;
	text-align: center;
    letter-spacing: 3px;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,sans-serif;

}

section {
    padding: 100px 0;
}

.glyphicon {
    font-size: 50px;
}

a:link {
	color:black;
	text-decoration:none !important;
}
a:visited{
	color:black;
}

a:hover {
	color:#ebbcbc !important;
	text-decoration:none;
}

.container {
    overflow-x:hidden;
}

html,
body {
    width: 100%;
    height: 100%;
}


.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}


.header-text {
    display:block;
    font-size: 300px;
    letter-spacing: 20px;
    font-family:Plexifont;

}


/* BUTTON */


.button {
    height:50px;
    width:200px;
    border-style: solid;
    border-color: black;
    padding: 15px;
    margin: 10px 140px;
    position:absolute;
    font-family: Helvetica;
    font-size: 10px;
    color:black;
    letter-spacing: 2px;
}

.button:hover {
    background-color: black;
    opacity:.7;
    border-color:white;
    color:white;
}


/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}


/* TITLE PAGE */

.header {
    display:table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/day-bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


#daybutton {
	position:absolute;
	left:50px;
	top:50px;
}

#categories {
    font: Helvetica;
    font-size:60px;
    position:relative;
    top:25px; 
    width:100%;
    text-align:center;
    z-index: 2;
    background-color:rgba(0, 0, 0, 0);
    font-weight:400;
    letter-spacing: 7px;

}

.category {
  display: inline-block;
  padding:0 40px;
  letter-spacing: 0px;
  font-weight:100;
}



/* Navbar */

.category-nav {
  display: inline-block;
  padding:0 20px;
  color:grey;
}



#navbar {
    position: fixed;
    width:99%;
    height:50px;
    z-index: 10;
    top: 0;
    font-size: 14px;
    background-color:rgba(255,255,255,1);
    display:none;
    margin: 5px;
    opacity:.9;

}

.nav {
    display: inline-block;
    width:auto;
    position:absolute;
    left:20px;
    padding: 10px 40px;


}
#home {
    font-size: 20px;
    color:black;
}



#grid {
    position:fixed;
    z-index: 0;
    left:800px;
    top:100px;
}

/* About */

#about {
    background: #eeeeee; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#a5a5a5, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#a5a5a5, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#a5a5a5, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#a5a5a5, white); /* Standard syntax */
    color:black;
}

#about-header-section {
    position:relative;
    left:-100px;
}

#about-text-section {
    margin:80px 50px;
    margin-bottom:100px;
    text-align: justify;
    line-height: 95%;
    letter-spacing: 0px;
    font-size:48px;
    padding-bottom:300px;
    color:#333333;
}


#square-glyphicon {
    position:relative;
    font-size:32px;
    color:#444444;
    top:-1px;

}



.roles {
    display:inline-block;
    background-color: white;
    font-size:14px;
    padding:15px;
    margin:10px;
    position:relative;


}

#education {
    font-size:10px;
    left:150px;
    top:-10px;
}
#designer, #artist, #internet {
    font-size:22px;
}

#designer {
    top:-20px;
}
#choreo { 
    top:-30px;
}

#internet {
    left:40px;
    top:-10px;
}
#frenchfry {
    top:20px;
}
.likes-text {
    display:inline-block;
    background-color:#fefefe;
    padding: 100px 10px;
    opacity:.9;
    text-align: right;
    letter-spacing: 3px;
    z-index: 3;
    position:relative;
    top:-280px;
    font-size: 12px;
    width:220px;


}
#likes {
    margin-right:-60px;
}
#dislikes {
    margin-left:-60px;
    text-align: left;
}


#me-pic {
    position:relative;
    top:-100px;
}

.rotate {

    font-style: italic;
}

.skills {
    width:95%;
    padding-top:100px;
    position:relative;
    left:70px;


}


.skillbar {
    position:relative;
    display:block;
    margin-bottom:10px;
    background:#eee;
    height:20px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {

    position:absolute;
    top:0;
    left:0;
    text-align: right;
    vertical-align: middle;
    font-size:10px;
    color:#ffffff;
    width:240px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:25px;

    line-height:25px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height:25px;
    width:0px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}



/* WORK */



#work-section{ 
    background:#FFFFFF;
    color:black;
    padding-bottom:600px;
}

#work-header {
    padding:100px 0;
}

.work-obj {
    position:relative;
}
.work-obj img {

    height:300px;

}



/* captions */
h1,h2,h3,h4{
    padding: 0px;
    margin: 0px;
}

.caption-style-1{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
}

.caption-style-1 .work-obj{
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.caption-style-1 .work-obj:hover .caption{
    opacity: 1;

}


.caption-style-1 img{
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
}


.caption-style-1 .caption{
    cursor: crosshair;
    position: absolute;
    opacity: 0;

    -webkit-transition:all 0.45s ease-in-out;
    -moz-transition:all 0.45s ease-in-out;
    -o-transition:all 0.45s ease-in-out;
    -ms-transition:all 0.45s ease-in-out;
    transition:all 0.45s ease-in-out;

}
.caption-style-1 .blur{
    background-color: rgba(0,0,0,0.65);
    height: 300px;
    width: 300px;
    z-index: 5;
    position: absolute;
}

.caption-style-1 .caption-text h1{
    text-transform: uppercase;
    font-size: 24px;
}
.caption-style-1 .caption-text{
    z-index: 8;
    color: #fff;
    position: absolute;
    width: 300px;
    height: 300px;
    text-align: center;
    top:80px;
    padding:0 10px;

}

.caption-style-1 .long-text {
    top:50px;
}

.caption-text p {
    letter-spacing:2.5px;
    font-style:italic;
}

.caption-text .date {

    font-size:12px;
    font-style:normal;
    letter-spacing: 1px;
    position:relative;
    top:20px;
}


.work-dialog {
    display:none;
}

.work-thumb {
    display:inline;
}
.work-thumb img{
    height:100px;

}

/* filters */    


#filter-main {
    padding:50px 0;
}
.filter {
    position:relative;
    color: black;
    display:inline;
    padding: 20px;
    letter-spacing: 5px;
}

.filter:hover {
    color:#ebbcbc !important;
    text-decoration:none;
    z-index: 4;
}



.night-mode {
    color:black;
    font-style:italic;
}
/* Footer */


.list-inline {
	display:inline;
}
.links {
	display:inline;
	padding-left: 5px;
	padding-right:5px;
}

.end {
    font-family: Plexifont;
    font-size:72px;

}

footer {
    padding: 100px 0;
    background: #eeeeee; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white,#dddddd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white,#dddddd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white,#dddddd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white,#dddddd); /* Standard syntax */
    
    color:black;
}